.app__findus-content h2 {
  margin-bottom: 3rem;
}

.app__findus-content > p {
  margin-bottom: 2rem;
}

.app__findus-content_time {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.app__findus-img {
  width: 629px;
}

.app__findus-img img {
  width: 100%;
}

@media screen and (min-width: 2000px) {
  .app__findus-img {
    width: 850px;
  }
}

@media screen and (max-width: 1150px) {
  .app__findus-content {
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .app__findus-img {
    width: 100%;
  }

  .app__findus-content h2 {
    margin-bottom: 1rem;
  }

  .app__findus {
    padding: 2rem;
  }
}
